
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-motorcycle">

    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://scontent.fcdg4-1.fna.fbcdn.net/v/t39.30808-6/278092064_4732246800220739_8008994963150531626_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=19026a&_nc_ohc=Zn_RCfg8NOsAX9DxW56&tn=2hMHNvp6PBJiPTYt&_nc_ht=scontent.fcdg4-1.fna&oh=00_AfCI4JTWz1grSt8CbZ7kx96s2-4RmsUF2J67EZj33CQa2A&oe=64023E81" %>
    <% end %>

    <div>
        <ul class="navbar-nav me-auto">
      <li class="navbar-list">
        <p>Lieu</p>
        <input type="text" name="lieu" id="lieu" placeholder="Marseille">
        <p>datebegining</p>
        <input type="date">
        <p>dateend</p>
        <input type="date">
        <li class="nav-item">
          <%= link_to "GO", "sign", class: "nav-link" %>
        </li>
    </ul>
    </div>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "proposer ma moto", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "proposer ma moto", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>

  </div>
</div>
