<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-motorcycle">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/degkqrdcu/image/upload/v1677843229/png-clipart-scooter-motorcycle-computer-icons-car-motorcycle-scooter-logo_rtucyn.png" %>
    <% end %>

    <div>
        <ul class="navbar-nav me-auto">
      <li class="navbar-list">
        <p>Lieu</p>
        <input type="text" name="lieu" id="lieu" placeholder="Marseille">
        <p>datebegining</p>
        <input type="date">
        <p>dateend</p>
        <input type="date">
        <li class="nav-item">
          <%= link_to "GO", "sign", class: "nav-link" %>
        </li>
    </ul>
    </div>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "proposer ma moto", new_motorcycle_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/degkqrdcu/image/upload/v1677843069/e291694507c22fb6ea9f2b33b3846836_dqphbw.jpg", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profil_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "proposer ma moto", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>

  </div>
</div>
