<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Map Layout</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <!-- No Bootstrap -->

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="stylesheets/application.scss">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />



  </head>


  <body>
    <%# the old code above , the new one underneath %>

    <%# <h1>home</h1> %>

    <%# <% @motorcycles.each do |motorcycle| %>

    <%# <%= link_to motorcycle.title, motorcycle_path(motorcycle) %>

    <%# <% end %>

    <%# <div> %>
    <%# <%= link_to "add a moto", new_motorcycle_path %>
    <%# </div> %>


    <%# the old code above , the new one underneath %>

    <%# PSEUDO CODE:
    Coding a container that is justify %>

    <div class="main-container">


        <div class="cards">
          <% @motorcycles.each do |motorcycle| %>
            <%= link_to motorcycle_path(motorcycle), class: 'link' do %>
              <div class="card" style="width: 350px;">
                <img src="https://res.cloudinary.com/degkqrdcu/image/upload/v1677668112/development/58kxjp1g2eparrc81xhdgiwmk48o.jpg">
                <h1><%= motorcycle.title %></h1>
                <p>Catégorie: <%= motorcycle.category %></p>
                <p>Cylindrée<%= motorcycle.capacity %></p>
                <p>Prix à la journée: <%= motorcycle.price %> €</p>
              </div>
            <%end%>
          <% end %>
        </div>

      <div id="map" style="width: 50%">
              <img id="map" src='https://api.mapbox.com/styles/v1/rbuscot01/clepm7fh7000z01s5y3sz648s.html?title=copy&access_token=pk.eyJ1IjoicmJ1c2NvdDAxIiwiYSI6ImNsZWhhMnRnMDBoNTgzeG1jNzFtaTQ0MDUifQ.xS72JMJpzO2eEOX5GiznWA&zoomwheel=true&fresh=true#11/40.73/-74'>
      </div>

    </div>
  </body>

</html>
