
    <div class="main-container">
        <div class="cards">
          <% @motorcycles.each do |motorcycle| %>
            <%= link_to motorcycle_path(motorcycle), class: 'link' do %>
              <div class="card" style="width: 350px;">
                <img src="https://res.cloudinary.com/degkqrdcu/image/upload/v1677668112/development/58kxjp1g2eparrc81xhdgiwmk48o.jpg">
                <h1><%= motorcycle.title %></h1>
                <p>Catégorie: <%= motorcycle.category %></p>
                <p>Cylindrée<%= motorcycle.capacity %></p>
                <p>Prix à la journée: <%= motorcycle.price %> €</p>
              </div>
            <%end%>
          <% end %>
        </div>
    </div>
