 <div class="container py-5 new-margin-top">
  <div class="row">
    <div class="">
      <div class="bg-white rounded p-3 shadow">
        <h3>Ajoutez votre moto</h3>
        <%= simple_form_for @motorcycle do |f| %>
          <%= f.input :title, placeholder: 'Titre de votre annonce' %>
          <%= f.input :description, placeholder: 'Description de votre annonce' %>
          <%= f.input :category, collection: ["Cross", "Enduro", "Trail", "Circuit", "Route"], selected: "Cross" %>
          <%= f.input :capacity, collection: ["125cm³", "250cm³", "500cm³", "600cm³", "1000cm³", "Autres"], selected: "125cm³" %>
          <%= f.input :address, placeholder: 'Adresse de la moto' %>
          <%= f.input :price, as: :currency %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
          <div>
        <%= link_to "Back to home", root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
