<%# CLASSE GENERALE DE LA SHOW  %>
<div class='container style-carte-show '>

  <div class="d-flex flex-row">
    <%# PARTIE GAUCHE  %>

    <div class="left-image col-sm-6 mb-3 mb-sm-0 d-flex flex-column">

      <%# APPLIQUE STYLE CARD %>
      <div class="main-image card ">

        <%# GROSSE IMAGE %>
        <div class="card-body pb-0">
          <% if @motorcycle.photo.attached? %>
            <%= cl_image_tag @motorcycle.photo.key, height: 450, width: 450, crop: :fill, class: 'img' %>
          <% end %>
        </div>

        <%# PETITES IMAGES EN DESSOUS %>
        <div class="thumbnail-card d-flex flex-row justify-content-between">
          <div class="thumbnail">
            <% if @motorcycle.photo.attached? %>
              <%= cl_image_tag @motorcycle.photo.key, crop: :fill, class: 'img-thumbnail' %>
            <% end %>
          </div>

          <div class="thumbnail">
            <% if @motorcycle.photo.attached? %>
              <%= cl_image_tag @motorcycle.photo.key, crop: :fill , class: 'img-thumbnail'%>
            <% end %>
          </div>

          <div class="thumbnail">
            <% if @motorcycle.photo.attached? %>
              <%= cl_image_tag @motorcycle.photo.key, crop: :fill , class: 'img-thumbnail'%>
            <% end %>
          </div>

          <div class="thumbnail">
            <% if @motorcycle.photo.attached? %>
              <%= cl_image_tag @motorcycle.photo.key,  crop: :fill , class: 'img-thumbnail'%>
            <% end %>
          </div>
        </div>

      </div>

    </div>



    <%# PARTIE DROITE %>
    <div class="col-sm-6 ">

      <%# STYLE CARD %>
      <div class="card " style="height: 100%">

        <%# DIV DU JUSTIFY CONTENT BETWEEN%>
        <div class="card-body d-flex flex-column justify-content-between">

          <%# DIV BLOC DU HAUT%>

          <div class="upper-title-logos-description">

            <%# DIV TITLE%>
            <div class="card-title">
              <h1><%= @motorcycle.title %></h1>
            </div>

            <%# DIV AVEC SPECIFICATIONS TECHNIQUES %>
            <div class="specification-columns d-flex flex-row justify-content-between mt-3" style="margin:0px">

              <div class="specification-card">
                <p class="specification-title">
                  Cylindrée:
                </p>

                <p>
                  <%= @motorcycle.capacity %>
                </p>
              </div>

              <div class="specification-card">
                <p class="specification-title">
                  Catégorie:
                </p>

                <p>
                  <%= @motorcycle.category %>
                </p>
              </div>

              <div class="specification-card">
                <p class="specification-title">
                  Prix à la journée:
                </p>

                <p>
                  <%= @motorcycle.price %>
                </p>
              </div>
            </div>


            <%# DIV AVEC LE TEXTE DESCRIPTIF %>
            <div class="description-text" style="margin-top:16px">
              <h3>
                Description
              </h3>
                <p>
                  <%= @motorcycle.description %>
                </p>
            </div>
          </div>


            <%# DIV BLOC DU BAS: DATE ET BOUTON LOUER %>
            <%= simple_form_for ([@motorcycle, @booking]) do |f| %>



                <%# DIV AVEC LE FORMULAIRE DES DATES %>
                <div class="thumbnail-card d-flex flex-row justify-content-between" style="margin-top:16px; margin-bottom:16px; border:1px solid grey " >

                    <div class="btn-outline-secondary">
                      <p class="text-muted" style='margin:0'> Date de début</p>
                      <%= f.input :start_date, as: :date, html5: true, label: false%>
                      <%# <input type="date" name ="start_date" class="form-control" > %>
                    </div>

                    <div class="btn-outline-secondary">
                      <p class="text-muted" style='margin:0'>Date de fin</p>
                      <%# <input type="date" name="end_date"class="form-control"> %>
                      <%= f.input :end_date, as: :date, html5: true, label: false %>
                    </div>
                </div>


                <%# GROS BOUTTON AVEC LE MËME PADDING QUE LES THUMBNAIL %>
                <div class="d-flex flex-row w-100">
                  <%= f.button :submit, input_html: { class: "d-flex flex-row w-100" }, class: 'btn btn-outline-secondary btn-block w-100', style: 'margin:0' %>
                </div>


            <% end %>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
