  <div class='container'>


      <div><%= cl_image_tag @motorcycle.photo.key, height: 300, width: 400, crop: :fill %></div>


      <div>
        <h1 class="title">
          <%= @motorcycle.title %>
        </h1><br>

        <ul>

          <li>
            <%= @motorcycle.capacity %>
          </li>
          <li>
            <%= @motorcycle.category %>
          </li>
          <li>
            <%= @motorcycle.description %>
          </li>
          <li>
            <%= @motorcycle.price %>
          </li>

        </ul>
      </div>

  </div>

  <div>

      <%= link_to "Edit âœðŸ¼", edit_motorcycle_path(@motorcycle) %><br>
      <%= link_to "Retourner au Menu ðŸ”™", root_path %><br>

      <%= link_to "Delete this motorcycle ðŸ—‘ï¸", motorcycle_path(@motorcycle), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this motorcycle?" } %>

  </div>
